@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
body {
  font-family: 'Lato', sans-serif; }

* {
  margin: 0;
  padding: 0; }

.checkout-details-margin {
  margin-bottom: 79px; }

.checkout-caption {
  margin-bottom: 39px;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer; }

.checkout-parent {
  margin-bottom: 93px; }

.checkout-details[open] summary ~ * {
  animation: sweep .8s ease-in-out; }

@keyframes sweep {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.checkout-details .checkout-caption::after {
  display: none; }

details.checkout-details {
  padding-top: 25px;
  border-bottom: 1px solid #e8e8e8; }

.form-heading {
  display: block;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #222222;
  font-size: 13px;
  font-weight: 600;
  line-height: 10px; }

.checkout-number {
  margin-right: 5px; }

.shipping-address form {
  box-sizing: border-box; }

.form-parent form:first-child {
  padding-left: 35px;
  margin-right: 291px; }

.form-parent {
  display: flex; }
  .form-parent input {
    padding: 16px 17px; }
  .form-parent input::placeholder {
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300; }
  .form-parent .checkbox {
    display: none; }
  .form-parent .checkbox-custom {
    position: relative;
    border-radius: 50%;
    border: 2px solid #555555;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 14px;
    height: 14px; }
  .form-parent .checkbox-custom,
  .form-parent .label {
    display: inline-block;
    vertical-align: middle; }
  .form-parent .checkbox:checked + .checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    border-radius: 50%;
    background-color: #000000;
    width: 6px;
    height: 6px; }
  .form-parent .label {
    padding-left: 14px;
    text-transform: uppercase; }

.shipping-address p {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px; }

.checkbox-margin {
  margin: 34px 0; }

.shipping-label {
  display: block; }

.first-label {
  margin-bottom: 16px; }

.advantages {
  margin: 33px 0; }

.advantages p:first-child {
  margin-bottom: 19px; }

.shipping-address-button {
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 180px;
  height: 50px;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700; }

.registration-text {
  display: block;
  color: #222222;
  font-size: 12px;
  font-weight: 600;
  line-height: 10px;
  text-transform: uppercase; }

.red {
  color: #ff0d0d; }

input[type="email"] {
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 390px;
  height: 45px;
  margin: 20px 0; }

input[type="password"] {
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 390px;
  height: 45px;
  margin: 20px 0; }

.checkbox-margin .required-fields {
  color: #ff0d0d;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px; }

.log-in button {
  margin-right: 32px; }

.log-in a {
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px; }

.cart-headings {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
  justify-content: space-between; }
  .cart-headings span {
    text-transform: uppercase;
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    line-height: 10px; }

.characteristics {
  display: flex; }
  .characteristics input {
    text-align: center;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 54px;
    height: 30px;
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px; }
  .characteristics a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #c0c0c0;
    color: #ffffff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    font-size: 9px;
    font-weight: 400; }

.align {
  display: flex;
  align-items: center; }

.characteristics span {
  width: 145px;
  text-align: center; }

.characteristics span:last-child {
  margin-right: -46px;
  display: flex;
  justify-content: center; }

.product-characteristics {
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; }

.cart-content-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid #eaeaea; }

.cart-content {
  display: flex; }

.cart-content-text {
  margin-left: 21px; }
  .cart-content-text h4 {
    line-height: 10px;
    text-transform: uppercase;
    margin-bottom: 38px;
    color: #222222;
    font-size: 13px;
    font-weight: 600;
    padding-top: 13px; }
  .cart-content-text p {
    color: #575757;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px; }
  .cart-content-text a {
    text-decoration: none; }

.cart-buttons {
  margin-top: 44px;
  margin-bottom: 63px;
  display: flex;
  justify-content: space-between; }
  .cart-buttons a {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid #eaeaea;
    padding: 20px 38px;
    box-sizing: border-box; }

.button-all:hover {
  background-color: #f16d7f;
  color: #ffffff; }

.cart-forms {
  display: flex;
  justify-content: space-between;
  margin-bottom: 79px; }
  .cart-forms .total-cost {
    padding: 40px;
    background-color: #f5f3f3; }
    .cart-forms .total-cost .sub-total {
      color: #4a4a4a;
      font-size: 11px;
      font-weight: 400;
      text-align: left; }
    .cart-forms .total-cost .total-text {
      text-align: right;
      padding-bottom: 20px;
      border-bottom: 1px solid #e2e2e2; }
    .cart-forms .total-cost .grand-total {
      color: #222222;
      font-size: 16px;
      font-weight: 700;
      text-align: left;
      line-height: 41px;
      margin-top: 12px; }
  .cart-forms a {
    background-color: #ffffff;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    padding: 20px 38px;
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px; }
  .cart-forms button {
    padding: 12px 15px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 23px; }
  .cart-forms .coupon-discount span {
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    margin: 25px 0;
    line-height: 10px; }
  .cart-forms h4 {
    text-transform: uppercase;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    line-height: 12px; }
  .cart-forms details {
    margin-top: 22px;
    padding: 16px 18px;
    border: 1px solid #eaeaea; }
    .cart-forms details summary {
      line-height: 13px;
      color: #b1b1b1;
      font-size: 13px;
      font-weight: 300; }
  .cart-forms summary::after {
    content: '\25B6';
    padding-left: 253px;
    font-size: 10px; }
  .cart-forms input {
    display: block;
    width: 364px;
    box-sizing: border-box;
    padding: 16px 17px;
    border: 1px solid #eaeaea;
    margin-top: 20px; }
  .cart-forms input::placeholder {
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300; }

.pink {
  color: #f16d7f; }

.total-margin {
  margin-left: 15px; }

.button:active {
  position: relative;
  top: 2px;
  box-shadow: 0 0 4.85px 0.15px rgba(33, 33, 33, 0.35); }

.button:hover {
  color: #f16d7f;
  background-color: #ccc; }

img [alt="shop"]:hover {
  background-color: #ccc; }

.container-header {
  width: 1140px;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: space-between; }

.container {
  width: 1140px;
  margin: 0 auto; }

.header {
  border: 1px solid #ececec;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  height: 100px; }

.header-left {
  display: flex;
  align-items: center; }

.header-left h2 {
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  text-align: center; }

.header-left a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 37px; }

.header-left h2 {
  margin-left: 13px; }

.last-letter {
  color: #f16d7f;
  font-size: 27px;
  font-weight: 900;
  line-height: 32px;
  text-align: center; }

.header-left form {
  position: relative;
  border: none;
  box-sizing: border-box;
  background-color: #ffffff;
  height: 38px; }

.browse {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  background: -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -moz-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -o-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -ms-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  width: 87px;
  height: 38px; }

.header-left input {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 317px;
  height: 38px;
  padding-left: 15px;
  padding-right: 49px; }

.header-submit {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #ffffff;
  right: 0;
  top: 0;
  position: absolute;
  height: 37px;
  width: 38px;
  border: 1px solid #e6e6e6;
  border-bottom-style: none; }

.header-right {
  position: relative;
  display: flex;
  align-items: center;
  height: 83px; }

.header-right:hover .cart-drop-down {
  display: block; }

.header-right a {
  text-decoration: none;
  margin-right: 13px;
  margin-left: 13px; }

.cart-drop-down {
  display: none;
  padding: 21px 17px;
  width: 265px;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  top: 83px;
  right: -60px; }
  .cart-drop-down .cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 13px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 13px; }
    .cart-drop-down .cart-product .cart-product-text {
      margin-top: 10px;
      margin-left: 13px; }
    .cart-drop-down .cart-product h4 {
      text-transform: uppercase;
      color: #222222;
      font-size: 12px;
      font-weight: 800;
      margin-bottom: 10px; }
    .cart-drop-down .cart-product a {
      display: flex; }
  .cart-drop-down .stars {
    font-size: 12px;
    font-weight: 400;
    color: #e4af48; }
  .cart-drop-down p {
    width: 52px;
    height: 12px;
    color: #f16d7f;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 12px; }
    .cart-drop-down p span {
      font-size: 10px;
      margin: 0 2px; }
  .cart-drop-down .total {
    display: flex;
    justify-content: space-between; }
    .cart-drop-down .total span {
      color: #222222;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase; }
  .cart-drop-down .buttons {
    margin-top: 30px; }
    .cart-drop-down .buttons a {
      display: block;
      padding: 21px 75px;
      border: 1px solid #eaeaea;
      background-color: #ffffff;
      text-transform: uppercase;
      color: #4a4a4a;
      font-size: 14px;
      font-weight: 700; }
    .cart-drop-down .buttons a:first-child {
      margin-bottom: 8px; }
    .cart-drop-down .buttons a:hover {
      background-color: #f16d7f;
      color: #ffffff; }

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #c0c0c0;
  color: #ffffff;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  font-size: 9px;
  font-weight: 400; }

.my-acc {
  box-sizing: border-box;
  background-color: #f16d7f;
  padding: 13px 19px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px; }

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center; }

.menu a {
  text-decoration: none;
  padding: 15px 15px;
  display: block;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 3px solid transparent; }

.menu a:hover {
  border-color: #ef5b70; }

.nav {
  height: 51px; }

.the-brand {
  background-color: #e8e8e8;
  height: 665px; }

.new-arrivals {
  background-color: #f8f3f4; }

.container-new-arrivals {
  width: 1140px;
  height: 148px;
  margin: 0 auto 59px; }

.text-new-arrivals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.text-new-arrivals h2 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 900;
  line-height: 20px; }

.breadcrumb {
  list-style-type: none;
  display: flex; }

.arrivals-navigation-parent {
  display: flex;
  justify-content: space-between; }

.arrivals-navigation-left ul {
  list-style-type: none; }

.arrivals-navigation-left ul a {
  text-decoration: none; }

.arrivals-navigation-left summary {
  box-shadow: 0 0 2px #ccc;
  width: 243px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; }

.active-summary {
  color: #ef5b70; }

.nonactive-summary {
  color: #6f6e6e; }

.arrivals-navigation-left .left-category {
  border-left: 5px solid #ef5b70;
  padding-left: 11px;
  padding-top: 10px;
  padding-bottom: 10px; }

.arrivals-navigation-left .category a {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 33px; }

.arrivals-navigation-left .category a:hover {
  color: #f16d7f; }

.arrivals-navigation-left .category li:first-child {
  margin-top: 14px; }

.arrivals-navigation-parent .arrivals-navigation-right {
  width: 850px; }

.products-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px; }

.filter-trending ul li {
  border-right: 1px solid #dfdfdf;
  line-height: 14px;
  margin-right: 8px;
  padding-right: 8px; }

.filter-trending li:nth-child(3n) {
  border: none; }

.products-filter h4 {
  text-transform: uppercase;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 10px; }

.products-filter ul {
  list-style-type: none;
  display: flex; }

.products-filter h4 {
  margin-bottom: 25px; }

.products-filter a {
  text-decoration: none; }

.filter-trending ul {
  width: 176px;
  flex-wrap: wrap; }

.filter-trending a {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px; }

.filter-trending li {
  margin-bottom: 10px; }

.filter-trending li a:hover {
  color: #f16d7f; }

.filter-size label {
  padding-right: 13px; }

.checkbox {
  display: none; }

.checkbox-text {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  line-height: 17px; }

.checkbox-custom,
.checkbox-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px; }

.checkbox-custom {
  position: relative;
  width: 13px;
  height: 13px;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  background-color: #ffffff; }

.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #413548;
  border-radius: 2px; }

.filter-price input {
  width: 262px; }

.sort {
  background-color: #f3f3f3;
  display: flex;
  margin-bottom: 48px; }

.sort-by-text {
  display: flex;
  padding: 10px 10px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #ebebeb; }

.sort-name {
  border-right: 1px solid #ebebeb; }

.summary-name {
  margin-left: 10px; }

.sort-by span {
  padding-right: 10px; }

summary::-webkit-details-marker {
  display: none; }

summary::after {
  content: '\25B6';
  padding-left: 0.5em;
  font-size: 12px; }

details[open] summary::after {
  content: '\25BC'; }

.sort-by {
  display: flex;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 12px; }

.show {
  display: flex;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 12px;
  padding-left: 0px; }

.show span {
  padding-right: 10px; }

.products-navigation {
  display: flex;
  justify-content: space-between; }

.products-navigation li {
  padding: 10px; }

.products-navigation ul {
  display: flex;
  list-style-type: none;
  border: 1px solid #ebebeb; }

.products-navigation a {
  text-decoration: none;
  font-family: Lato;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px; }

.products-navigation li a:hover {
  color: #ef5b70; }

.view-all:hover {
  background-color: #ef5b70;
  color: #ffffff; }

.view-all {
  box-sizing: border-box;
  padding: 10px 45px;
  border: 1px solid #ef5b70; }

.offers-for-you {
  margin-top: 110px;
  height: 314px;
  background-color: #222224; }

.offers-for-you-text {
  padding-top: 89px;
  display: flex;
  justify-content: space-between; }

.offers-for-you-text .free-delivery {
  text-align: center; }

.offer {
  width: 309px; }

.offers-for-you-text p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; }

.offers-for-you-text h4 {
  margin-top: 32px;
  margin-bottom: 14px;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700; }

.breadcrumb a {
  text-decoration: none;
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding-bottom: 19px; }

.breadcrumb a:hover {
  border-bottom: 3px solid #ef5b70; }

.active-breadcrumb {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; }

.parent-nav {
  background-color: #ffffff; }

.brand-img {
  height: 614px;
  background-image: url(img/brand-img.jpg);
  background-position: -200px -51px;
  display: flex;
  align-items: center; }

.text-brand {
  padding-left: 12px;
  border-left: 12px solid #f16d7f; }

.text-brand h2 {
  line-height: 45px;
  color: #222222;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 12px; }

.text-brand h3 {
  line-height: 30px;
  color: #222222;
  font-size: 40px;
  font-weight: 900; }

h3 span {
  color: #f16d7f;
  font-size: 40px;
  font-weight: 900; }

.products {
  margin-top: 98px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.products a:hover {
  box-shadow: 0 0 10px #ccc; }

.products-left {
  display: flex;
  flex-direction: column; }

.products-left a {
  margin-top: 10px;
  margin-bottom: 10px; }

.products-right {
  display: flex;
  flex-direction: column; }

.products-right a {
  margin-top: 10px;
  margin-bottom: 10px; }

.products a {
  display: block;
  position: relative; }

.deal-description {
  top: 26px;
  position: absolute;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 16px 19px; }

.products h4 {
  color: #222222;
  font-size: 18px;
  font-weight: 900;
  line-height: 16px;
  margin-bottom: 10px; }

.products h3 {
  color: #f16d7f;
  font-size: 30px;
  font-weight: 900;
  line-height: 24px; }

.featured-header {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 60px; }

.featured-header h4 {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 16px; }

.featured-header p {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  line-height: 10px; }

.featured-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.parent-product {
  position: relative;
  margin: 19px 0px; }

.parent-product:hover .add-to-cart {
  display: block; }

.add-to-cart span {
  display: flex;
  align-items: center; }

.featured-items .featured-item {
  text-decoration: none;
  display: block; }

.featured-items .featured-item:hover {
  box-shadow: 0 0 10px #ccc; }

.pos-add-to-cart {
  display: flex;
  justify-content: center; }

.add-to-cart {
  top: 98px;
  padding: 10px;
  display: none;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0); }

.featured-item:hover img {
  filter: brightness(50%); }

.featured-items .featured-description {
  margin-top: 20px;
  padding-left: 14px;
  padding-bottom: 21px; }

.featured-items p {
  color: #222222;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 10px;
  margin-bottom: 17px; }

.featured-items span {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px; }

.featured-items a {
  text-decoration: none; }

.add-to-cart .add-to-cart-button {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  margin-left: 8px;
  line-height: 11px; }

.browse-all {
  display: block;
  margin-top: 79px;
  text-decoration: none;
  background-color: #f16d7f;
  width: 212px;
  height: 48px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
  box-sizing: border-box;
  padding-left: 24px;
  padding-bottom: 18px; }

.browse-button {
  display: flex;
  justify-content: center;
  margin-bottom: 113px; }

.offer-for-women {
  border: 5px solid transparent;
  display: flex;
  text-decoration: none;
  margin-bottom: 97px; }

.offer-for-women:hover {
  border: 5px solid pink; }

.offer-for-women .left-side {
  background-image: url(img/offer-for-women.jpg);
  height: 529px;
  width: 767px;
  background-repeat: no-repeat; }

.offer-text {
  box-sizing: border-box;
  padding-top: 146px;
  padding-left: 39px; }

.offer-text h3 {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 17px; }

.offer-text span {
  color: #f16d7f;
  font-size: 54px;
  font-weight: 700; }

.offer-text p {
  color: #ffffff;
  font-size: 33px;
  font-weight: 700;
  line-height: 25px; }

.right-side {
  width: 373px;
  background-color: #222224; }

.position-parent {
  display: flex;
  box-sizing: border-box;
  padding-left: 43px;
  padding-right: 43px;
  padding-top: 55px; }

.right-side h4 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 17px; }

.right-side img {
  margin-right: 33px; }

.right-side p {
  width: 219px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; }

.subscribe {
  height: 438px;
  background-image: url(img/subscribe-background.jpg); }

.container-subscribe {
  width: 1008px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.person {
  display: flex; }

.subscribe .subscribe-left-side {
  padding-top: 111px; }

.person img {
  padding-bottom: 20px; }

.person .person-text {
  margin-left: 28px;
  width: 386px; }

.person-text abbr {
  display: block;
  margin-bottom: 19px;
  color: #222224;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  margin-bottom: 19px; }

.person-text .name {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px; }

.person-text p {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  line-height: 9px; }

.person-text span {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  line-height: 25px; }

.right-side-text {
  margin-top: 143px;
  text-align: center; }

.right-side-text p {
  margin-bottom: 8px;
  color: #222224;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px; }

.right-side-text span {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; }

.subscribe-right-side form {
  margin-top: 35px; }

.subscribe-email input {
  box-sizing: border-box;
  padding-left: 28px;
  padding-right: 28px;
  background-color: #e1e1e1;
  width: 334px;
  height: 46px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border: none;
  color: rgba(34, 34, 36, 0.67);
  font-size: 14px;
  font-weight: 400;
  line-height: 53px; }

.subscribe-email button {
  background-color: #f16d7f;
  width: 104px;
  height: 46px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  margin-left: -3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px; }

.subscribe-email button:hover {
  background-color: #ccc;
  color: #f16d7f; }

.contact-information {
  margin-top: 123px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.contact-information a {
  text-decoration: none; }

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 29px; }

.logo h2 {
  font-family: Lato;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  margin-left: 13px; }

.brand-information p {
  width: 427px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; }

.contact-information ul {
  list-style-type: none; }

.contact-information li {
  line-height: 12px;
  margin: 25px 0px; }

.contact-information h4 {
  margin-bottom: 45px;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 14px; }

.contacts-links a {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  line-height: 12px; }

.contacts-links a:hover {
  text-decoration: underline; }

.container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
  padding: 23px 0px; }

.footer {
  margin-top: 89px;
  background-color: #e6e6e6; }

.container-footer p {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px; }

.social-network {
  display: flex; }

.social-network a {
  text-decoration: none;
  color: #b2b2b2; }

.social-link {
  margin: 0px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 32px;
  height: 32px; }

a.social-link:hover {
  color: #ffffff;
  background-color: #f16d7f; }

/*# sourceMappingURL=style.css.map */
